/* Centralized CSS for hyprland.md across all languages */

.sl-markdown-content :is(th:first-child, td:first-child){
  padding-inline-start: 0.5rem;
}

.sl-markdown-content :is(th:last-child, td:last-child){
  padding-inline-end: 0.5rem;
}

table {
  width: 100%;
  margin: 1em 2em;
}

th, td {
  border: 0.1em solid var(--sl-color-gray-5);
  padding: 1em 2em;
  text-align: left;
}

th {
  background-color: #A984CC;
  color: var(--sl-color-white);
  text-align: center;
  margin: 1em 2em;
  padding: 1em 2em;
}

:root[data-theme="light"] th {
  background-color: #A984CC;
  color: var(--sl-color-white);
}
